@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@800&display=swap');

:root {
  --background: #1d1724;
  --channel-border-radius: .5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: #fff;
  padding-bottom: 5em;
}

header {
  background: transparent;
  width: 100%;
  padding: 2em 0;
}

nav {
  margin: 0 auto;
  width: 60%;
}

.logo {
  display: flex;
}

.logo h4 {
  margin-left: 1em;
  font-size: 1rem;
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  color: #fff;
}

.logo img {
  width: 3em;
}

main {
  margin: 2em auto 0 auto;
  width: 60%;
  color: #fff;
}

main h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.channels-list {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5em;
  row-gap: 1.5em;
  justify-content: space-between;
}

.channel {
  position: relative;
  border-radius: var(--channel-border-radius);
  height: 10em;
  text-align: center;
  cursor: pointer;
}

.channel-background {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  border-radius: var(--channel-border-radius);
}

.channel-info {
  display: none;
  position: absolute;
  padding: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-radius: var(--channel-border-radius);
  background: rgba(0, 0, 0, .9);
  z-index: 1;
}

.channel:hover .channel-info {
  display: flex;
}

.channel-name {
  margin-top: 1em;
  font-size: 1.3rem;
  font-weight: 500;
}

.channel-country {
  margin-top: .5em;
  font-size: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-page {
  margin: 4em auto 0 auto;
  width: 60%;
}

.info-page p {
  margin-top: 2em;
}

.info-page p:last-child {
  margin-top: 5em;
}

.info-page img {
  margin-right: 1em;
  width: 2em;
}

.channels-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-options select {
  margin-left: 4px;
  padding: 3px;
  outline: none;
}

.filter-options {
  display: flex;
}

@media only screen and (max-width: 968px) {
  header {
    padding: 1em;
  }

  nav {
    width: 95%;
  }

  main {
    width: 95%;
  }

  main h2 {
    font-size: 1.3rem;
  }

  .channels-list {
    column-gap: 1em;
    row-gap: 1em;
  }

  .channel {
    height: 6em;
  }
}